<h1>Datei einlesen</h1>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<div class="panel panel-default">
  
  <div class="panel-heading">
    <h3 class="panel-title">Schritt 3: Anlagen zuordnen</h3>
  </div>
  
  <div class="panel-body">
    Falls die Anlage noch nicht vorhanden ist, kann hier die neue Anlage eingegeben werden:

    <%= render 'anlagen/form' %>

    Vorhandene Anlagen zuordnen:

    <% @synonym_liste.each do |synonym| %>
      <%= render "anlage_zuordnen", synonym: synonym %>
    <% end %>
  </div>
  
</div>