<h1>Datei einlesen</h1>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<h2>Anlagen zuordnen.</h2>

Neue Anlage anlegen:

<%= render 'anlagen/form' %>

Synonyme Anlagen zuordnen:

<% @synonym_liste.each do |synonym| %>
  <%= render "anlage_zuordnen", synonym: synonym %>
<% end %>
