<%= render 'anlagen/form_modal' %>

<h1>Datei einlesen</h1>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<div class="panel panel-default">
  
  <div class="panel-heading">
    <h3 class="panel-title">Schritt 3: Atomanlagen zuordnen</h3>
  </div>
  
  <div class="panel-body">
    
    <p>Einige Bezeichnungen wurden nicht in der Datenbank gefunden. Ordne diese der passenden Atomanlage zu. Wenn es die Anlage noch nicht in der Datenbank gibt, kannst du diese neu erstellen.</p>

    <% @synonym_liste.each do |synonym| %>
      <%= render "anlage_zuordnen", synonym: synonym %>
    <% end %>    
    
  </div>
  
</div>