<h1>Datei einlesen</h1>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<h2>Schritt 3: Anlagen zuordnen.</h2>

Falls die Anlage noch nicht vorhanden ist, kann hier die neue Anlage eingegeben werden:

<%= render 'anlagen/form' %>

Vorhandene Anlagen zuordnen:

<% @synonym_liste.each do |synonym| %>
  <%= render "anlage_zuordnen", synonym: synonym %>
<% end %>
