<h1>Datei einlesen</h1>

<div class="panel panel-default">
  
  <div class="panel-heading">
    <h3 class="panel-title">Schritt 1: Datei auswählen</h3>
  </div>
  
  <%= form_tag({action: :upload_file}, multipart: true) do %>

    <div class="panel-body">
      <div class="form-group">
        <%= file_field_tag 'upload' %>
        <p class="help-block">Bitte wähle die CSV-Datei aus, die ausgewertet werden soll.</p>
      </div>
     </div>
   
     <div class="panel-footer">
       <%= submit_tag "Weiter zum Auswerten", class: "btn btn-primary" %>
     </div>

   <% end %>
  
</div>
