<h1>Datei einlesen</h1>

<div class="panel panel-default">
  
  <div class="panel-heading">
    <h3 class="panel-title">Schritt 1: Datei ausw채hlen</h3>
  </div>
  
  <%= form_tag({action: :upload_file}, multipart: true) do %>

    <div class="panel-body">
      <div class="form-group">
        <%= file_field_tag 'upload' %>
        <p class="help-block">Bitte w채hle die CSV-Datei aus, die ausgewertet werden soll. 
             Beim Erstellen der csv-Datei ist darauf zu achten, dass in der oberesten Zeile die jeweiligen 
             Spaltennamen stehen und diese keine Zeilenumbr체che enthalten (sonst gibts Chaos).</p>
      </div>

       <div class="form-group">
        <p class="help-block">Bitte w채hle das Trennezeichen aus, welches die Spalten in der Datei trennt.</p>
        <%= select_tag :trennzeichen, options_for_select(@trennzeichen_liste) %>
      </div>
     </div>
   
     <div class="panel-footer">
       <%= submit_tag "Weiter zum Auswerten", class: "btn btn-primary" %>
     </div>

   <% end %>
  
</div>
