<%= render 'stoffe/form_modal' %>

<h1>Datei einlesen</h1>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<div class="panel panel-default">
  
  <div class="panel-heading">
    <h3 class="panel-title">Schritt 4: Stoffe zuordnen</h3>
  </div>
  
  <div class="panel-body">
    
    <p>Einige Bezeichnungen wurden nicht in der Datenbank gefunden. Ordne diese dem passenden Stoff zu. 
    Wenn es den Stoff noch nicht in der Datenbank gibt, kannst du diesen neu erstellen.</p>

    <% @synonym_liste.each do |synonym| %>
      <%= render "stoffe_zuordnen", synonym: synonym %>
    <% end %>    
    
  </div>
  
</div>
