<div class="transportabschnitt">
  <% if abschnitt.verkehrstraeger == "Schiff" %>
    Schiffstransport
  <% elsif abschnitt.verkehrstraeger == "LKW" %>
    LKW-Transport
  <% elsif abschnitt.verkehrstraeger == "Flugzeug" %>
    Flugzeugtransport
  <% elsif abschnitt.verkehrstraeger == "Zug" %>
    Bahn-Transport
  <% else %>
    Transport mit unbekanntem Verkehrsträger
  <% end %>
  
  <% if abschnitt.start_datum && abschnitt.end_datum %>
    (<%= abschnitt.start_datum.strftime("%d.%m.%Y") %> – <%= abschnitt.end_datum.strftime("%d.%m.%Y") %>)
  <% end %>
  <%= link_to "Details", abschnitt %>

</div>
