<h1>Transportabschnitt bearbeiten</h1>

<div class="row">

  <div class="col-sm-7">
    <%= render 'form' %>
  </div>

  <div class="col-sm-5">
    <h3> Transportgrunddaten
      <div class="btn-group header-buttons">
        <%= link_to 'Zur Transport-Anzeige', @transport , class: "btn btn-primary" %>  
      </div>
    </h3>
    <%= render "transporte/show_transport_grunddaten", transport: @transport %>
  </div>
  
</div>
