<h1>Transportabschnitt bearbeiten</h1>

<div class="row">

  <div class="col-sm-7">
    <%= render 'form' %>
  </div>

  <div class="col-sm-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Eingabehilfe: Transportgrunddaten
          <div class="btn-group header-buttons">
            <%= link_to 'Zur Transport-Anzeige', @transport , class: "btn btn-primary btn-xs" %>
          </div>
        </h1>
      </div>
      <div class="panel-body">
        <%= render "transporte/show_transport_grunddaten", transport: @transport %>
      </div>
    </div>
  </div>
  
</div>
