<h1>Neuen Transportabschnitt erstellen</h1>

<div class="row">
  <div class="col-sm-7">
    <%= render 'form' %>
  </div>
  <div class="col-sm-5">
    <% if @beobachtung %>
      <%= render "beobachtungen/eingabehilfe", beobachtung: @beobachtung %>
    <% end %>
    <% if @transport %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Eingabehilfe: Transportgrunddaten </h1>
        </div>
        <div class="panel-body">
          <%= render "transporte/show_transport_grunddaten", transport: @transport %>
        </div>
      </div>
    <% end %>
  </div>
</div>
