<h1>Neuen Transportabschnitt anlegen</h1>

<div class="row">
  <div class="col-sm-6">
    <%= render 'form' %>
  </div>
  <% if @beobachtung %>
    <%= render "beobachtungen/eingabehilfe", beobachtung: @beobachtung %>
  <% end %>
</div>

<%= link_to 'Back', transportabschnitte_path %>
