<table class="table table-striped">
  <tbody>
  
    <% users.each do |user| %>
      <tr>
        <td><span class="glyphicon glyphicon-user"></span> <%= link_to user.name, user %></td>
        <td><%= user.email %></td> 
        <td class="table-action">
          <%= link_to edit_user_path(user) do
            render 'text_edit'
          end %>
          <%= link_to( user, method: :delete, data: { confirm: 'Willst du den Benutzer wirklich löschen?' } ) do
            render 'text_remove'
          end %>
        </td>
      </tr>
    <% end %>
    
  </tbody>
</table>
