<h1>BenutzerInnen-Verwaltung</h1>

<h3>AdministratorInnen</h3>
<%= render 'tabelle', users: @admins %>

<h3>RedakteurInnen</h3>
<%= render 'tabelle', users: @editors %>

<h3>BenutzerInnen</h3>
<%= render 'tabelle', users: @users %>

<%= will_paginate %>