<div class="panel panel-default" id="mapedit" >
        <div class="panel-heading">
          <h2 class="panel-title"><%=titel %></h2>
        </div>
        <div class="panel-body">
          <p>Klicke auf die Karte, um den Standort genau festzulegen.</p>
          <input type="text" name="search" placeholder="Hier zukünftig suchen" id="search" class="form-control">
            <%= hidden_field_tag :lat, (ort ? ort.lat : nil) %>
            <%= hidden_field_tag :lon, (ort ? ort.lon : nil) %>
        </div>
        
        <div id="map" style="height: 300px;"></div>
        <!-- Javascript im Ordner app/assets/javascripts ablegen -->
        <script>
          geomap("ort");
        </script>
</div>
