<div class="center jumbotron">
  <h1>Herzlich willkommen bei der Atomtransport-Datenbank</h1>
</div>
  <div class="col-sm-5">
    <h2>Was möchtest du tun?</h2>
    <%= render "layouts/side_navigation" %>
  </div>
  <div class="col-sm-4">
    <img  width="600" height="374" alt="14072014_Uranzug4" src="http://umweltfairaendern.de/wp-content/uploads/2014/07/14072014_Uranzug4-300x187.jpg"></img>
  </div>

