<div class="jumbotron jumbotron-image">
  <div class="container">
    <h1>Atomtransport gesehen?</h1>
    <p>Hilf mit, die geheimen Transporte aufzudecken und öffentlich zu machen.</p>
    <%= link_to "Beobachtung melden!", new_beobachtung_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Aktuelle Transporte</h2>
      <%= render "aktuelle_transporte" %>
    </div>
<!--    <div class="col-sm-6">
      <h2>Transporte vor deiner Haustür?</h2>
      <input type="text" class="form-control">
    </div>-->
  </div>
</div>
