<h1>
  <%= @firma.name %>
    <% if is_editor? %>
    <div class="btn-group header-buttons">
      <%= link_to 'Bearbeiten', edit_firma_path(@firma), class: "btn btn-primary" %>
      <%= link_to 'Löschen', @firma, method: :delete, data: { confirm: 'Willst du die Firma wirklich löschen?' }, class: "btn btn-danger" %></td>
    </div>
  <% end %>
  <br>
  <small>
    <% if @firma.reederei? %>
      Reederei
    <% end %>
  </small>
</h1>

<p><%= @firma.beschreibung %></p>