<p id="notice"><%= notice %></p>

<p>
  <strong>Ortsname:</strong>
  <%= @umschlagort.ortsname %>
</p>

<%= link_to 'Edit', edit_umschlagort_path(@umschlagort) %> |
<%= link_to 'Back', umschlagorte_path %>
