<h1>Neuer Transport</h1>



<% if @beobachtung %>
  <div class="row">
    <div class="col-sm-6">
      <%= render 'form' %>
    </div>
    <div class="col-sm-6">
      <%= render "beobachtungen/eingabehilfe", beobachtung: @beobachtung %>
    </div>
  </div>
<% else %>
  <%= render 'form' %>
<% end %>

