<h1>Neuer Transport</h1>

<div class="row">
  
  <% if @beobachtung %>
    <div class="col-sm-6">
      <%= render 'form' %>
    </div>
    <%= render "beobachtungen/eingabehilfe", beobachtung: @beobachtung %>
  <% else %>
    <%= render 'form' %>
  <% end %>
</div>

