<%= render "show_transport_grunddaten" %>

<div class="btn-group header-buttons">
      <%= link_to 'Bearbeiten', edit_abschnitte_transport_path(@transport) , class: "btn btn-primary" %>
</div>
<h3> Transportabschnitte </h3>

<% @transport.transportabschnitte.each do |transport_abschnitt| %>
  <%= render "show_abschnitt", abschnitt: transport_abschnitt %>
<% end %>


<%= link_to 'Alle Transporte', transporte_path %>
