<h1>Fahrplandaten einlesen</h1>

<div class="panel panel-default">
  <div class="panel-heading">MACS</div>
  <ul class="list-group">
    <%= link_to "Northbound Container Schedule", read_macs_path, class: "list-group-item" %>
  </ul>
</div>