// Place all the styles related to the Abfragen controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel .calendar-body {
  overflow-x: scroll;
  padding: 0;
}

.panel table.calendar {
  margin: 0;
  table-layout: fixed;
  
  th:first-child {
    width: 7em;
  }
  
  .calendar_transportabschnitt {
    height: 19px;
    width: auto;
    background-color: red;
    margin: 15%;
  }
  
  .platzhalter {
    height: 19px;
    width: 19px;
    background-color: none;
    margin: 5px;
  }

}

.calendar-title {
  font-size: 200% !important;
}

.calendar-form {
  display: inline-block;
}

.calendar-button {
  @extend .h2;
  background: none;
  border: none;
}