// Place all the styles related to the transporte controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.umschlag {
  background-image: url('umschlag.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 50px auto;
  height: 50px;
  padding-left: 50px;
  line-height: 50px;
}

.transportabschnitt {
  background-image: url('transportabschnitt.svg');
  background-position: left center;
  background-repeat: repeat-y;
  background-size: 50px auto;
  min-height: 50px;
  padding-left: 50px;
}

.calendar_transportabschnitt {
  background-image: url('transportabschnitt2.png');
  background-position: left center;
  background-repeat: repeat-y;
  background-size: 50px auto;
  min-height: 25px;
  padding-left: 25px;
}

.calendar_umschlag {
  background-image: url('umschlag2.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 25px auto;
  height: 25px;
  padding-left: 50px;
  line-height: 50px;
}
