<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= typ %> </h3>
  </div>
  <div class="panel-body">
    <div class="checkbox">
      <label>
        <%= check_box_tag "#{typ}-alle" %>
        Alle
      </label>
    </div>
    <% auswahl.each do |auswahl_bezeichnung, auswahl_id| %>
      <div class="checkbox">
        <label>
          <%= check_box_tag "#{typ}-#{auswahl_id}" %>
          <%= auswahl_bezeichnung %>
        </label>
      </div>
    <% end %>
  </div>
</div>
