    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"> Durchfahrtsort-Auswahl </h3>
      </div>
      <ul class="list-group">
		<div class: "list-group-item">
		  Ort: <%= text_field_tag "dort"  %>
		</div>
                <div class: "list-group-item">
		  Radius: <%= text_field_tag "radius" , "500" %> km
                </div>
      </ul>
    </div>
