    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"> Zeitfenster-Auswahl </h3>
      </div>
      <div class="panel-body">
        <p>
          Von: <%= text_field_tag "start_datum", "01.01.2012", class: "form-control" %> 
        </p>
        <p>
           Bis: <%= text_field_tag "end_datum", "31.12.2012", class: "form-control" %>
        </p>
      </div>
         
        
      
    </div>
