    <div class="col-sm-6">
      <div class="panel panel-default" id="mapedit" >
        <div class="panel-heading">
          <h1 class="panel-title">Eingabehilfe: Beobachtung</h1>
          <%= render "beobachtungen/show_eckdaten", beobachtung: beobachtung %>
          <%= render "beobachtungen/show_beschreibung", beobachtung: beobachtung %>
        </div>
        <div class="panel-body">
        
        </div>
      </div>
    </div>
