

<div class="panel panel-default">
  <div class="panel-heading">
          <h3 class="panel-title">Beobachtung eingegeben</h3>
  </div>
  <div class="panel-body">
          Vielen Dank für die Eingabe ihrer Beobachtung. 
  </div>
  <div class="panel-footer">
    <%= link_to 'Neue Beobachtung', new_beobachtung_path, class: "btn btn-success" %>
    <%= link_to 'Zur Urantransport-Homepage', "http://urantransport.de", class: "btn btn-primary" %>
  </div>
</div>
