<p id="notice"><%= notice %></p>

<p>
  <strong>Beschreibung:</strong>
  <%= @beobachtung.beschreibung %>
</p>

<%= link_to 'Edit', edit_beobachtung_path(@beobachtung) %> |
<%= link_to 'Back', beobachtungen_path %>
